.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact{
  display: flex;
  justify-content: space-between;
}

#one{
  background-color: black;
  color: white;
}

#whatsapp{
  background-color: green;
  color: white;
}
