<div class="footer-container">
  <div class="description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a elementum orci, vitae commodo nibh. In vitae convallis nisl. Morbi rhoncus mattis purus sed commodo. Integer rhoncus ex risus. Proin efficitur elit nunc, ut pulvinar massa egestas in. Fusce quis quam viverra, pretium quam ac, consectetur lectus.</p>

  </div>
  <div class="credits">
    <div class="bmw-logo">
      <img src="\assets\imagens\logos\logo-bmw-rio.svg" alt="logo bmw">
    </div>
    <div class="copyright">
      <p>© Copyright © 2021 Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="credits-description">
      <p>Feito por:</p>
      <img src="\assets\imagens\logos\logo-alpes.png" alt="">
    </div>
  </div>
</div>
